---
import Button from "@components/controls/Button.astro";
import { Icon } from "astro-icon/components";

interface Props {
  url: string;
  class?: string;
  iconLeft?: string;
  iconRight?: string;
}

const { url, iconLeft, iconRight, class: className = "" } = Astro.props;
---

<Button
  variant="outlined"
  color="primary"
  bgColor="primary"
  href={url}
  class={`flex items-center justify-center gap-1 border-4 ${className}`}
>
  {iconLeft && <Icon name={iconLeft} class="size-6" role="img" aria-label="Previous button icon" aria-hidden />}
  <span>
    <slot />
  </span>
  {iconRight && <Icon name={iconRight} class="size-6" role="img" aria-label="Next button icon" aria-hidden />}
</Button>
