@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-primary font-roboto text-primary-contrast dark:bg-primary-dark dark:text-primary-dark-contrast;
  }

  *,
  *::after,
  *::before {
    @apply leading-7;
  }

  summary {
    @apply cursor-pointer list-none;
  }

  details > summary::-webkit-details-marker,
  details > summary::marker {
    width: 0;
    height: 0;
    display: none;
    content: "";
  }

  html {
    height: 100vh;

    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }

  html,
  body {
    @apply flex flex-1 flex-col;
  }

  main {
    @apply p-12;
  }

  ol,
  ul {
    @apply px-10;
  }

  li {
    @apply py-2;
    list-style-type: initial;
  }

  ol li {
    list-style-type: decimal;
  }

  img {
    @apply w-full;
  }

  h1 {
    @apply mt-0 border-y-4 border-purple-600 py-5 text-center text-3xl font-black lg:text-start;
  }

  h2 {
    @apply text-2xl font-extrabold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  h5 {
    @apply font-medium;
  }

  main a,
  main dfn {
    @apply p-0 underline decoration-2 underline-offset-2 transition-opacity hover:opacity-75;
  }

  main a {
    @apply decoration-indigo-500 active:opacity-60;
  }

  main dfn {
    @apply decoration-blue-400;
  }
}
