---
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav class="bg-tertiary dark:bg-tertiary-dark hidden w-full flex-col overflow-auto px-6 py-4 lg:flex lg:w-1/4">
  <p class="my-4 text-center text-lg font-bold" aria-hidden>Navigation</p>
  <ul aria-label="Headings" class="flex flex-col gap-4 p-0">
    {
      headings
        .filter((heading) => heading.depth != 1)
        .map((heading) => (
          <li
            class={`p-0 ${heading.depth === 2 && "list-none font-medium"}`}
            style={{ marginLeft: heading.depth !== 2 ? `${(heading.depth - 2) * 2}rem` : undefined }}
          >
            <a
              class="decoration-indigo-500 decoration-2 underline-offset-2 hover:underline hover:opacity-75"
              href={`#${heading.slug}`}
            >
              {heading.text}
            </a>
          </li>
        ))
    }
  </ul>
</nav>

<details
  class="group/sidebar-mobile bg-tertiary dark:bg-tertiary-dark flex w-full flex-col overflow-auto p-4 lg:hidden"
>
  <summary
    class="flex items-center justify-center rounded-lg border-2 border-black/10 p-4 text-center text-lg font-bold transition-all group-open/sidebar-mobile:border-black/20 dark:border-white/10 dark:group-open/sidebar-mobile:border-white/20"
    aria-hidden
  >
    Navigation
    <Icon
      name="mdi:chevron-up"
      class="size-6 transition-all group-open/sidebar-mobile:rotate-180"
      role="img"
      aria-label="Dropbown button icon"
    />
  </summary>
  <ul aria-label="Headings" class="flex flex-col gap-4 p-4">
    {
      headings
        .filter((heading) => heading.depth != 1)
        .map((heading) => (
          <li
            class={`p-0 ${heading.depth === 2 && "list-none font-medium"}`}
            style={{ marginLeft: heading.depth !== 2 ? `${(heading.depth - 2) * 2}rem` : undefined }}
          >
            <a
              class="decoration-indigo-500 decoration-2 underline-offset-2 hover:underline hover:opacity-75"
              href={`#${heading.slug}`}
            >
              {heading.text}
            </a>
          </li>
        ))
    }
  </ul>
</details>
