---
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav class="hidden w-full flex-col overflow-auto bg-tertiary px-6 py-4 lg:flex lg:w-1/4 dark:bg-tertiary-dark">
  <p class="my-4 text-center text-lg font-bold" aria-hidden>Navigation</p>
  <ul aria-label="Headings" class="flex flex-col gap-4 p-0">
    {
      headings
        .filter((heading) => heading.depth != 1)
        .map((heading) => (
          <li
            class={`p-0 ${heading.depth === 2 && "list-none font-medium"}`}
            style={{ marginLeft: heading.depth !== 2 ? `${(heading.depth - 2) * 2}rem` : undefined }}
          >
            <a
              class="underline-offset-2 decoration-indigo-500 decoration-2 hover:underline hover:opacity-75"
              href={`#${heading.slug}`}
            >
              {heading.text}
            </a>
          </li>
        ))
    }
  </ul>
</nav>

<details
  class="group/sidebar-mobile flex w-full flex-col overflow-auto bg-tertiary p-4 lg:hidden dark:bg-tertiary-dark"
>
  <summary
    class="flex items-center justify-center rounded-lg border-2 border-black border-opacity-10 p-4 text-center text-lg font-bold transition-all group-open/sidebar-mobile:border-opacity-20 dark:border-white/[var(--tw-border-opacity)]"
    aria-hidden
  >
    Navigation
    <Icon
      name="mdi:chevron-up"
      class="h-6 w-6 transition-all group-open/sidebar-mobile:rotate-180"
      role="img"
      aria-label="Dropbown button icon"
    />
  </summary>
  <ul aria-label="Headings" class="flex flex-col gap-4 p-4">
    {
      headings
        .filter((heading) => heading.depth != 1)
        .map((heading) => (
          <li
            class={`p-0 ${heading.depth === 2 && "list-none font-medium"}`}
            style={{ marginLeft: heading.depth !== 2 ? `${(heading.depth - 2) * 2}rem` : undefined }}
          >
            <a
              class="underline-offset-2 decoration-indigo-500 decoration-2 hover:underline hover:opacity-75"
              href={`#${heading.slug}`}
            >
              {heading.text}
            </a>
          </li>
        ))
    }
  </ul>
</details>
