<html lang="en">
  <head>
    <title>Redirecting to Proton...</title>
    <meta
      http-equiv="refresh"
      content="0; URL=https://go.getproton.me/aff_c?offer_id=26&aff_id=2187&url_id=282"
    />
  </head>
</html>
