<html lang="en">
  <head>
    <title>Redirecting to The New Oil's public Plausible analytics page...</title>
    <meta
      http-equiv="refresh"
      content="0; URL=https://stats.thenewoil.org/thenewoil.org"
    />
  </head>
</html>
