<html lang="en">
  <head>
    <title>Redirecting to The New Oil's uptime monitor...</title>
    <meta
      http-equiv="refresh"
      content="0; URL=http://162.0.238.97:3001/status/thenewoil"
    />
  </head>
</html>
