<html lang="en">
  <head>
    <title>Redirecting to The New Oil's uptime monitor...</title>
    <meta http-equiv="refresh" content="0; URL=https://uptime.thenewoil.org/status/thenewoil" />
  </head>
</html>
