@charset "UTF-8";

html, body {
  height: 100%;
  width: 100%;
  margin: auto;
}

article, aside, footer, header, main, nav, section {
  display: block;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

header {
  background: black;
}

details {
  background: black;
  padding: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
}

details a {
  padding: 5px;
  transition: font-size 0.2s;
  color: white;
}

details a:hover, footer a:hover {
  font-size: 20px;
  border-color: #3498DB;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

main {
  max-width: 1000px;
  margin: auto;
}

main a {
  transition: font-size 0.2s;
}

main a:hover {
  font-size: 17px;
}

main header, thead {
  background:  #3498DB;
}

h1 {
  color: white;
}

h3 {
  margin-left: 5px;
  color: white;
}

footer a {
  padding: 5px;
  transition: font-size 0.2s;
}

section {
  display: flex;
}

section ul {
  width: 50%;
  list-style-type: none;
}

aside {
  background: lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Responsive
==================================== */

@media (max-width:1000px) {
        main { width: 90% }
        tr {    display: table;  width:100%;    }               
        td {    display: table-row; }
        .row div {    display: table;  width:100%;    } 
        .column {    display: table-row; }
	section {display: block; }
	section ul { width: 90%; }
    }
