@charset "UTF-8";

html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  line-height: 1.5em;
}

article, aside, footer, header, main, nav, section {
  display: block;
  font-family: sans-serif;
}

.mobile {
  display: none;
}

header {
  background: #353535;
  box-shadow: 0px 10px 5px grey;
}

.logo {
  display: block;
  margin: auto;
  padding: 5px;
}

nav {
  color: white;
  display: flex;
  margin: auto;
}

summary:hover {
  text-decoration: underline;
  cursor: pointer;
}

details {
  padding: 5px;
  text-align: left;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  text-decoration: none;
  padding: 5px;
  transition: font-size 0.2s;
  color: white; 
}

nav a:hover {
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

summary {
  text-align: center;
}

main {
  max-width: 1010px;
  padding: 10px;
  margin: auto;
}

main a {
  text-decoration: none;
  transition: text-decoration 0.2s;
}

main a:hover, main a:focus {
  text-decoration: underline;
  cursor: pointer;
}

.subheader {
  border-radius: 5px;
  background:  #6200EE;
  color: white;
}

thead td {
  background:  #6200EE;
  color: white;
}

.chart td {
  border-radius: 5px;
}

.chart a {
  color: black;
  text-decoration:underline;
}

h1 {
  color: white;
}

h1 a {
  color: white;
}

h3 {
  margin-left: 5px;
  color: white;
}

.recs {
  color: white;
  background:#018786;
  border-radius:5px;
  padding-left:50px;
}

table img:hover {
   box-shadow: 2px 2px 4px #000000;
}

.rectd {
  padding-left:50px;
  padding-right:50px;
  vertical-align:top;
}

.recfoot{
  background-color:#03DAC6;
}

.recfoot a {
  color:black;
}

footer {
  max-width: 1000px;
  margin: auto;
  padding-top:10px;
}

footer a {
  padding: 5px;
  transition: font-size 0.2s;
}

footer a:hover {
   box-shadow: 2px 2px 4px #000000;
}

section {
  display: flex;
}

section ul {
  width: 50%;
  list-style-type: none;
}

aside {
  color: white;
  background: #3700B3;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

aside a {
  color: white;
  text-decoration: underline;
}

/* Responsive
==================================== */

@media (max-width: 800px) {
        main, footer { width: 90% }
	.hello { border-spacing:0px; }
	.hello td { display:table;padding-left:20px;padding-right:20px;margin:auto;width:90%; }
	article table { border-style:solid; }
        tr { display:table;width:100%; }
        td { display:table-row; }
        .row div { display:table;  width:100%; }
        .column { display:table-row; }
	section { display:block; }
	section ul { width:90%; }
	.logo { display: none; }
	.desktop { display: none;}
	.mobile { display: flex; justify-content: flex-end; }
	.mobile .logo { display: block; margin-right: 10px; }
	details { background: #353535; padding: 5px; position: absolute; top: 8px; left: 8px; width: auto;}
	summary { text-align: left;}
	header {  height: 70px; }
	header a {text-decoration: none; list-style-type: none; }
	header b {text-decoration: underline;}
	details > summary { list-style: none; }
	details > summary::marker { display: none; }
	footer p a { display:block; }
    }

/* Dark Mode
==================================== */

@media (prefers-color-scheme:dark) {
	html, body { background-color: #121212; }
	main { color: white; }
	main a { color: white; text-decoration:underline; }
	.subheader, thead { background: #BB86FC;  color: black; }
	.recs { background: #03DAC6; }
	aside { background: #018786; }
	.recfoot { background: #03DAC6 }
	footer a { color: skyblue; }
	.invert { filter:invert(100%); }
    }	
