---
import { Icon } from "astro-icon/components";

import { fuzzyCompareUrl } from "@/utils/url";
import SidebarPagelink from "./SidebarPageLink.astro";
import type { GuidePageFile, GuideSectionPageFile } from "@/guides";

interface Props {
  section: GuideSectionPageFile;
  sectionPages: GuidePageFile[];
}

const { section, sectionPages } = Astro.props;
const currentPagePath = Astro.url.pathname;
const isInSection = currentPagePath.includes(section.url!);
---

<details open={isInSection} class="group/sidebar-dropdown">
  <summary
    class="flex items-center gap-4 rounded-lg bg-black/0 px-2 py-3 font-medium group-open/sidebar-dropdown:mb-3 group-open/sidebar-dropdown:bg-black/15 hover:bg-black/5 motion-safe:transition-all motion-safe:duration-200 motion-safe:ease-out dark:bg-white/0 dark:group-open/sidebar-dropdown:bg-white/15 dark:hover:bg-white/5"
  >
    <span>{section.frontmatter.section_title}</span>
    <span
      class="ml-auto flex h-fit w-fit select-none group-open/sidebar-dropdown:rotate-180 motion-safe:transition-transform motion-safe:duration-200 motion-safe:ease-out"
    >
      <Icon name="mdi:chevron-up" class="size-6" role="img" aria-label="Dropbown button icon" />
    </span>
  </summary>
  <div class="font-roboto -mt-3 flex flex-col gap-4 p-4">
    {
      sectionPages.map((child) => (
        <SidebarPagelink url={child.url!} isCurrentPage={fuzzyCompareUrl(currentPagePath, child.url!)}>
          {child.frontmatter.title}
        </SidebarPagelink>
      ))
    }
  </div>
</details>
