---
import { getGuidePages } from "@/guides";
import { borderGradient } from "@styles/common";
import { twMerge } from "tailwind-merge";

const allPages = getGuidePages();
const pages = allPages
  .filter((page) => page.url?.includes(Astro.url.pathname))
  .sort((a, b) => a.frontmatter.weight - b.frontmatter.weight);
---

<ul class="grid grid-cols-1 gap-8 px-0 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
  {
    pages.map(
      (page) =>
        page.frontmatter.topic && (
          <li class="w-full list-none">
            <a
              class={twMerge(
                "flex h-40 w-full items-center justify-center rounded-lg border-4 border-solid p-4 text-center font-semibold decoration-blue-400 decoration-2 underline-offset-2 hover:underline hover:opacity-75",
                borderGradient(undefined, {
                  variant: "secondary",
                  bgColor: "primary"
                })
              )}
              href={page.url}
            >
              {page.frontmatter.topic}
            </a>
          </li>
        )
    )
  }
</ul>
