---
import { textToHeadingId } from "@utils/heading";
interface Props {
  title: string;
}

const { title } = Astro.props;

const headingId = await textToHeadingId({
  text: title
});
---

<div class="m-auto flex flex-col gap-8 rounded-lg bg-tertiary p-8 text-center shadow-md dark:bg-tertiary-dark">
  <h1 id={headingId} class="border-none p-0 text-center">{title}</h1>
  <div class="text-lg font-bold">
    <slot />
    <div class="text-center text-base font-normal opacity-80">
      <slot name="subtext" />
    </div>
  </div>
  <slot name="action" />
</div>
