---
import DefaultHead from "@components/layout/DefaultHead.astro";
import Header from "@components/header/Header.astro";
import Footer from "@components/footer/Footer.astro";
import Sidebar from "@components/guides/sidebar/Sidebar.astro";
import Actions from "@components/guides/actions/Actions.astro";
import { getLanguageFromUrl } from "@/utils/i18n";
import { Icon } from "astro-icon";

interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;

const language = getLanguageFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={language.code}>
  <head>
    <DefaultHead pageTitle={frontmatter.title} />
  </head>

  <body>
    <Header />
    <div class="flex flex-1 flex-col overflow-auto lg:flex-row">
      <details
        class="group/sidebar-mobile flex flex-col items-center bg-tertiary py-4 shadow drop-shadow-sm dark:bg-tertiary-dark lg:hidden"
      >
        <summary
          class="mx-4 flex items-center justify-center rounded-lg border-2 border-black border-opacity-10 p-4 text-lg font-bold transition-all group-open/sidebar-mobile:border-opacity-20 dark:border-white/[var(--tw-border-opacity)]"
        >
          {frontmatter.title}
          <Icon
            name="mdi:chevron-up"
            class="w-6 h-6 group-open/sidebar-mobile:rotate-180 transition-all"
            role="img"
            aria-label="Dropbown button icon"
          />
        </summary>
        <Sidebar class="p-4" />
      </details>
      <Sidebar class="hidden lg:block" />
      <div class="flex w-full flex-col items-center justify-between overflow-auto">
        <main class="flex w-full max-w-screen-2xl flex-col gap-8 px-8 md:px-20">
          <slot />
          <Actions />
        </main>
        <Footer transparent={true} />
      </div>
    </div>
  </body>
</html>
