name: Mirroring

on:
  schedule:
    - cron: "* 3 * * *"
  push:
  delete:
  workflow_dispatch:

jobs:
  to_gitlab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: git@gitlab.com:RikThePixel/git-mirror-test.git
          ssh_private_key: ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
