---
import BlogPages from "@assets/data/BlogPages.json";
import { Markdown } from "@astropub/md";

const length = BlogPages.length;
BlogPages.sort((a, b) => {
  return new Date(b.created).getTime() - new Date(a.created).getTime();
});
---

<div class="w-full overflow-auto border-gradient-secondary border-4 border-bg-primary dark:border-bg-primary-dark rounded-lg flex flex-col">
  {
    BlogPages.map((page, index) => {
      const createdDate = new Date(page.created).toLocaleString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric"
      });

      return (
        <a
          class={`flex items-center justify-between p-4 rounded-t-lg ${
            index != length - 1 && "border-gradient-secondary border-0 border-b-4"
          }`}
          href={`https://blog.thenewoil.org/${page.slug}`}
        >
          <Markdown of={page.title} />
          <p>{createdDate}</p>
        </a>
      );
    })
  }
</div>
