---
import BlogPages from "@assets/data/BlogPages.json";
import Markdown  from "@components/Markdown.astro";
import { borderGradient } from "@styles/common";

const length = BlogPages.length;
BlogPages.sort((a, b) => {
  return new Date(b.created).getTime() - new Date(a.created).getTime();
});
---

<div
  class={borderGradient("flex w-full flex-col overflow-auto rounded-lg border-4", { variant: "secondary", bgColor: "primary" })}
>
  {
    BlogPages.map((page, index) => {
      const createdDate = new Date(page.created).toLocaleString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric"
      });

      return (
        <a
          class={`flex items-center justify-between rounded-t-lg p-4 decoration-blue-400 ${
              index != length - 1 &&  borderGradient("border-0 border-b-4", { variant: "secondary" })
          }`}
          href={`https://blog.thenewoil.org/${page.slug}`}
        >
          <Markdown content={page.title} />
          <p>{createdDate}</p>
        </a>
      );
    })
  }
</div>
