---
import BlogPages from "@assets/data/BlogPages.json";
import { Markdown } from "@astropub/md";

const length = BlogPages.length;
BlogPages.sort((a, b) => {
  return new Date(b.created).getTime() - new Date(a.created).getTime();
});
---

<div
  class="flex w-full flex-col overflow-auto rounded-lg border-4 border-gradient-secondary border-bg-primary dark:border-bg-primary-dark"
>
  {
    BlogPages.map((page, index) => {
      const createdDate = new Date(page.created).toLocaleString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric"
      });

      return (
        <a
          class={`flex items-center justify-between rounded-t-lg p-4 ${
            index != length - 1 && "border-0 border-b-4 border-gradient-secondary"
          }`}
          href={`https://blog.thenewoil.org/${page.slug}`}
        >
          <Markdown of={page.title} />
          <p>{createdDate}</p>
        </a>
      );
    })
  }
</div>
